In [14]:
from xlwings.rest.api import api
import pandas as pd
import requests,json

In [15]:
base_url = 'http://192.168.0.5:5000'
endpoint = '/book/TableData.xlsm/names/akhil/range'

In [16]:
r = requests.get(base_url+endpoint)

In [17]:
data = r.json()
df = pd.DataFrame(data['formula'][0:],columns=data['formula'][0])

In [18]:
df

,Customer,,,Branch Data,,,Customer Home Address Data,,,Customer Office Data,,,Loan Amount Data,
0,Customer,,,Branch Data,,,Customer Home Address Data,,,Customer Office Data,,,Loan Amount Data,
1,Customer Name,MD Akhil Khan,,Zone Name,Kothagudem,,PinCode,507101,,Office Pin Code,507101,,Agreement Date,44806
2,Father Name,MD Aleem Khan,,Region Name,Telangana,,LandMark,Near PostOffice,,Office Land Mark,Near PostOffice,,Loan Registration Number,78787474747
3,Customer Profile,Business Man,,Area Name,Ramanji Colony,,Address1,"4-4-155, Ramanji Colony, Kothagudem",,Office Address1,"4-4-155, Ramanji Colony, Kothagudem",,Tenor,N Arunkumar
4,Loan Account No.,98989478983,,Branch Name,Kothagudem,,Address2,Telangana 507101,,Office Address2,Telangana 507101,,Advance EMI,"5,500rs"
5,,,,,,,,,,,,,MOB,"10,000rs"
6,,,,,,,,,,,,,,